 article{
     position: absolute;
     display: inline-block; 
     width: 80%;
     right: 0;
     background-color: gainsboro;
     font-family: Arial;
     padding: 100px;
     margin-top: 200px;;
     margin-left: 100px;
 }

 .description{
     margin-bottom: 2em;
     font-weight: bold;
     text-align: center;
 }