header {
    font-family: 'Balsamiq Sans', cursive;
    background-color: darkslategrey;
    padding: 0.5em;
    text-align: center;
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
}
.headline {
    color: white;
}
ul {
    color: black;
    font-weight: 600;
    font-size: 14pt;
    list-style-type: none;
    padding: 20pt;

}
ul li {
    display: inline-block;
    margin: 10pt;
}