.sidebar {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: darkcyan;
    display: inline-block;
    color: white;
    position: fixed;
    z-index: 1;
    left: 0;
    width: 10%;
    height: 55%;
    margin-top: 200px;;
    margin-left: 0;
    padding: 1em;
    
    
}

.sidebar a {
    color: white;
    
}

.sidebar ul{
    margin-top: 3em;
}

.sidebar li{
    margin-bottom: 1em;
}

